{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Empleado list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dni</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Domicilio</th>
                <th>Telefono</th>
                <th>Cuil</th>
                <th>Usuario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('empleado_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.dni }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellido }}</td>
                <td>{{ entity.domicilio }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.cuil }}</td>
                <td>{{ entity.usuario }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('empleado_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('empleado_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('empleado_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
